@import url("http://fonts.googleapis.com/css?family=Lato");

$background: #9b59b6;
$tabs-base-color: #8e44ad;

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

.tabs input[type=radio] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs {
min-width: 100%;
width: 750px;
float: none;
list-style: none;
position: relative;
padding: 0px 0px 10px;
margin: 75px auto;
overflow-y: visible;
}

.tabs > li{
float: left;
}

.tabs label {
  min-width: 100%;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px 2px 0 0;
  color: #693B8D;
  font-size: 24px;
  font-weight: normal;
  background: rgba(255,255,255,0.2);
  cursor: pointer;
  position: relative;
  top: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
background: rgba(255,255,255,0.5);
top: 0;
}

[id^=tab]:checked + label {
background: #693B8D;
color: white;
top: 0;
}

[id^=tab]:checked ~ [id^=tab-content], [id^=tab]:checked ~ [id^=tab-content] > div {
  display: block;
}
.tab-content{
z-index:2;
display: none;
text-align: left;
width: 100%;
font-size: 20px;
line-height: 140%;
padding-top: 10px;
padding: 15px;
position: absolute;
top: 53px;
left: 0;
min-height:100%;
overflow:auto;
}

.tab-content > div{
display: none;
min-height: 100%;
min-width: 100%;
overflow-x: visible;
position: relative;
white-space: normal;
-webkit-animation-duration: 0.5s;
-o-animation-duration: 0.5s;
-moz-animation-duration: 0.5s;
animation-duration: 0.5s;
}

.tab-content > p {
position: relative;
word-wrap:normal;
font-weight: lighter;
width:950px;
min-width: 100%;
min-height: 200%;
white-space: normal;
}

.tab-content ul > li {
word-wrap:normal;
min-height: 100%;
min-width: 100%;
line-height: 150%;
white-space: normal;
}

.tab-content > div > ol > li{
    list-style:disc;
}

.modal {
    position: absolute;
    min-width: 85%;
    min-height:120%;
    overflow: visible;
}
