@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,400);

html {
    width:100%;
    -webkit-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
html {
    -webkit-text-size-adjust:none
}
}

#nav {
    display:block;
    width:63px;
    height:100%;
    min-height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:9989;
    background:#ffffff;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateZ(0);
    -webkit-transition-property:width;
    -webkit-transition-duration:.4s;
    -webkit-transition-timing-function:ease-out;
    -moz-transition-property:width;
    -moz-transition-duration:.4s;
    -moz-transition-timing-function:ease-out;
    -o-transition-property:width;
    -o-transition-duration:.4s;
    -o-transition-timing-function:ease-out;
    transition-property:width;
    transition-duration:.4s;
    transition-timing-function:ease-out
}

#nav h1 {
    color:#000;
    font-size:20px
}

#top {
    display:block;
    float:left;
    position:absolute;
    overflow:hidden;
    z-index:1;
    width:100%;
    height:63px;
    background:#009999;
    -webkit-transition-property:width,height,background;
    -webkit-transition-duration:.8s;
    -webkit-transition-timing-function:ease-out;
    -moz-transition-property:width,height,background;
    -moz-transition-duration:.8s;
    -moz-transition-timing-function:ease-out;
    -o-transition-property:width,height,background;
    -o-transition-duration:.8s;
    -o-transition-timing-function:ease-out;
    transition-property:width,height,background;
    transition-duration:.8s;
    transition-timing-function:ease-out
}

#top a {
    display:block;
    width:100%;
    height:100%
}

#logo {
    display:block;
    float:left;
    position:relative;
    z-index:7;
    width:47px;
    height:33px;
    margin:12px 8px;
    padding:0;
    -webkit-transition-property:width,height,margin;
    -webkit-transition-duration:.5s;
    -webkit-transition-timing-function:ease-out;
    -moz-transition-property:width,height,margin;
    -moz-transition-duration:.5s;
    -moz-transition-timing-function:ease-out;
    -o-transition-property:width,height,margin;
    -o-transition-duration:.5s;
    -o-transition-timing-function:ease-out;
    transition-property:width,height,margin;
    transition-duration:.5s;
    transition-timing-function:ease-out
}

#ital {
    display:block;
    float:left;
    position:absolute;
    z-index:7;
    top:-47px;
    left:42px;
    margin:0 -77px;
    width:154px;
    height:47px;
    margin:0;
    padding:0;
    -webkit-transition-property:top;
    -webkit-transition-duration:.5s;
    -webkit-transition-timing-function:ease-out;
    -moz-transition-property:top;
    -moz-transition-duration:.5s;
    -moz-transition-timing-function:ease-out;
    -o-transition-property:top;
    -o-transition-duration:.5s;
    -o-transition-timing-function:ease-out;
    transition-property:top;
    transition-duration:.5s;
    transition-timing-function:ease-out
}

#nav nav {
    display:block;
    position:absolute;
    top:35%;
    right:0;
    width:232px
}

#nav nav ul {
    display:block;
    float:left;
    width:100%;
    margin:0;
    padding:0;
    list-style:none;
}

#nav nav ul li {
    display:block;
    float:left;
    width:100%;
    height:61px;
    line-height:61px;
    margin:0;
    padding:0;
}


#nav nav ul a {
    display:block;
    float:left;
    width:100%;
    height:61px;
    line-height:61px;
    margin:0;
    padding:0;
    color:#000;
    font-family:'Roboto',sans-serif;
    font-size:13px;
    text-align:right;
    text-transform:uppercase
}

#nav nav ul span {
    display:block;
    float:right;
    width:63px;
    height:61px;
    padding:0;
    margin:0 0 0 10px
}

#nav nav ul span i{
    text-align: center;
    margin-right: 12px;
    margin-top: 8px;
}

#nav nav ul li:hover {
    background:#009999
}

#nav nav ul .black:hover {
    background:#009999
}

#nav:hover {
    width:232px;
    -moz-transition-delay:.8s;
    -o-transition-delay:.8s;
    -ms-transition-delay:.8s;
    -webkit-transition-delay:.8s;
    transition-delay:.8s
}

#nav:hover >#top {
    height:228px;
    background:#009999;
    -moz-transition-delay:.8s;
    -o-transition-delay:.8s;
    -ms-transition-delay:.8s;
    -webkit-transition-delay:.8s;
    transition-delay:.8s
}

#nav:hover #top #logo {
    width:104px;
    height:72px;
    margin:55px 64px 5px;
    -moz-transition-delay:.8s;
    -o-transition-delay:.8s;
    -ms-transition-delay:.8s;
    -webkit-transition-delay:.8s;
    transition-delay:.8s
}

#nav:hover #top #ital {
    top:139px;
    -moz-transition-delay:1.4s;
    -o-transition-delay:1.4s;
    -ms-transition-delay:1.4s;
    -webkit-transition-delay:1.4s;
    transition-delay:1.4s
}

#nav:hover #minisocial {
    left:0;
    -moz-transition-delay:.8s;
    -o-transition-delay:.8s;
    -ms-transition-delay:.8s;
    -webkit-transition-delay:.8s;
    transition-delay:.8s
}


#manifesto{
    display:block;
    float:center;
    position: absolute;
    width:100%;
    min-height: 100%;
    margin:0;
    padding:0;
    background-size: cover;
    background-color: #bbdefb;
    background-image: -webkit-linear-gradient( -0deg, #bbdefb 0%, #9adeff 82%, #292423 82%, #292423 82%);
    background-image: linear-gradient( 0deg, #bbdefb 0%, #bbdefb 82%, #292423 82%, #292423 82%);
}

#manifesto article {
    display:block;
    position:relative;
    float: right;
    margin:0;
    padding:0;
    min-height:100%;
}

#manifesto header {
    display:block;
    float:center;
    width:100%;
    margin:0;
}

#manifesto header h1 {
    display:block;
    float:left;
    width:100%;
    line-height:100px;
    font-family:'Roboto',sans-serif;
    font-size:400%;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
}

#manifesto header h2 {
    display:block;
    float:left;
    margin-top:5%;
    width:100%;
    height:24px;
    line-height:24px;
    font-size:18px;
    text-align:center;
    font-style:italic;
    color:#ffd327;
    -webkit-animation-delay:1.2s;
    animation-delay:1.2s
}

#manifesto h3 {
    display:block;
    float:left;
    width:100%;
    line-height:24px;
    letter-spacing:1px;
    font-family:'Roboto',sans-serif;
    font-size:14px;
    text-align:center;
    text-transform:uppercase;
    color:#fff
}

#manifesto header h2 span {
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 15px 3px;
    padding:0;
    background:#363636;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px
}

#manifesto article section {
    display:block;
    float:left;
    position:relative;
    width:100%;
    height: 100%;
}

#manifesto article section h2 {
    display:block;
    float:left;
    width:74%;
    height:40px;
    line-height:40px;
    margin:0;
    font-family:'Roboto',sans-serif;
    font-size:18px;
    letter-spacing:4px;
    text-transform:uppercase;
    font-weight:700;
    color:#ffd327;
}

#manifesto article span {
    display:block;
    float:center;
    width:100%;
    line-height:32px;
    font-weight: 200%;
    font-family:'Roboto',sans-serif;
    font-size:150%;
    color:#212121;
}

#manifesto article section p b {
    font-weight:700
}

        /*-------------
Back to top arrow
--------------*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#team h2 {
    text-align: center;
}

header {
    width:100%;
    text-align:center;
}


h1,h2,h5,h6 {
    color: #FFF;
}

.btn-floating:hover,.btn-large:hover,.btn:hover,.z-depth-1-half{-webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);-moz-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)}.z-depth-2{-webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);-moz-box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)}.z-depth-3{-webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);-moz-box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)}.modal,.z-depth-4{-webkit-box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);-moz-box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)}.z-depth-5{-webkit-box-shadow:0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22);-moz-box-shadow:0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22);box-shadow:0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)}.divider{height:1px;overflow:hidden;background-color:#e0e0e0}blockquote{margin:20px 0;padding-left:1.5rem;border-left:5px solid #EF9A9A}i{line-height:inherit}i.left{float:left;margin-right:15px}i.right{float:right;margin-left:15px}i.tiny{font-size:1rem}i.small{font-size:2rem}i.medium{font-size:4rem}i.large{font-size:6rem}img.responsive-img,video.responsive-video{max-width:100%;height:auto}

